<div class="container mt-4">
  <h2>Obras Sociales</h2>
  
  <table class="table table-bordered table-striped mt-4">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let insurance of healthInsurances">
        <td>{{ insurance.id }}</td>
        <td>{{ insurance.name }}</td>
        <td>
          <!-- Puedes agregar botones o links aquí para acciones como Editar, Detalles, Eliminar, etc. -->
          <button class="btn btn-primary btn-sm" (click)="onEdit(insurance.id)">Editar</button>
          <button class="btn btn-danger btn-sm" (click)="onDelete(insurance.id)">Borrar</button>
          
          <!-- Por ejemplo, un botón para eliminar -->
        </td>
      </tr>
    </tbody>
  </table>
</div>