<nav class="navbar slide-in-top navbar-expand-lg navbar-light bg-ligth" id="navigator">
  <div class="container-fluid ">
    <!-- Logo o nombre de la aplicación -->
    
      <img class="logo" src="../../../../../assets/img/logos/Logo Prana Horizontal.png" alt="Logo Prana">
   

    <!-- Botón para versiones móviles -->
    <button class="navbar-toggler" type="button" (click)="toggleMenu()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Contenido del Navbar -->
    <div class="collapse navbar-collapse slide-in-top" *ngIf="isMenuOpen" id="navbarNav">
      <!-- Botones del lado izquierdo -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link under" aria-current="page" routerLink="" (click)="toggleMenu()">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link under" routerLink="/profesionales" (click)="toggleMenu()">Profesionales</a>
        </li>
        <li class="nav-item">
          <a class="nav-link under" routerLink="/aboutus" (click)="toggleMenu()">Sobre Nosotros</a>
        </li>
        <li class="nav-item" *ngIf="isLogged">
          <a class="nav-link" routerLink="/Dashboard/accounts/myaccount" (click)="toggleMenu()">Dashboard</a>
        </li>
      </ul>

      <div>


      </div>

      <div *ngIf="!isLogged">
        <button class="btn btn-primary" type="button"
              routerLink="login">
            <i class="material-symbols-outlined btn-icon">login</i>Iniciar Sesión</button>
      </div>
      <!-- Botón de cierre de sesión -->
      <div *ngIf="isLogged" class="user-info-container">
        <div class="dropdown container">
          <button class="btn btn-outline-dark  dropdown-toggle" type="button" id="dropdownMenuButton"
            data-bs-toggle="dropdown" aria-expanded="false">
            <i class="material-symbols-outlined btn-icon">person</i>: {{currentUser?.last_name}}, {{currentUser?.name}}
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">

            <a class="dropdown-item" (click)="logout() ">Cerrar Sesión</a>

          </ul>
        </div>

      </div>
    </div>
  </div>
</nav>