.logo {
    width: 40px;
    
    margin-right: 15px;
}
.navbar-brand img {
    height: 40px; /* Ajusta esto según tu necesidad */
    width: auto;
}
.login {
    display: flex;
    list-style: none;
}

.login > li {
    margin: 5px 15px;
}

.active {
    background-color: #999;
    border-radius: 8%;
}
