<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <img class="logo" src="../../../assets/img/logo.png" alt="Prana">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/Home" routerLinkActive="active">Home
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Talleres" routerLinkActive="active">Talleres</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/AboutUs" routerLinkActive="active">Sobre Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Dashboard" routerLinkActive="active">Dashboard</a>
          </li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </li> -->
        </ul>
        <ul class="login navbar-nav">
          <li class="nav-item"><a class="nav-link" routerLink="/auth/login/">Iniciar Sesión</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="auth/singin/">Registrarse</a></li>
        </ul>
       
        <span *ngIf="currentUser">Bienvenido, {{ currentUser.name }}!</span>
      </div>
    </div>
  </nav>