<div class="contenedor">

    <div class="arriba">
        <button class="btn btn-primary" *ngIf="profile === 'admin'">
            User</button>
        <button class="btn btn-secondary" *ngIf="profile === 'doctor' || profile === 'admin'" routerLink="patient">
            Pacientes</button>
        <button class="btn btn-danger" *ngIf="profile === 'admin'" routerLink="doctor" >
            Profesionales</button>
        <button class="btn btn-primary" *ngIf="profile === 'doctor' || profile === 'admin'" routerLink="health_insurance">
            Mutual / Obra social</button>
        <button class="btn btn-secondary" *ngIf="profile === 'doctor' || profile === 'admin' || profile === 'patient'" routerLink="workshops">
            Talleres</button>
            <button class="btn btn-danger" *ngIf="profile === 'admin'" routerLink="insurance/list" > PRUEBA</button>
        
        <button class="btn btn-danger" *ngIf="profile === 'admin'" routerLink="appointment_admin">
            Administrar turnos</button>
        <button class="btn btn-danger" *ngIf="profile === 'doctor'" routerLink="appointment_doctor">
            Turnos</button>
        <button class="btn btn-danger" *ngIf="profile === 'patient'" routerLink="appointment_patient">
            Turnos</button>
        
        <button class="btn btn-primary">
            Mi cuenta</button>
    
    <hr>
    </div>
    
    <div class="abajo">
        <hr>
        <button class="btn btn-danger" (click)="isPatient()">Paciente</button>
        <button class="btn btn-primary" (click)="isDoctor()">Doctor</button>
        <button class="btn btn-secondary" (click)="isAdmin()">Admin</button>
        
    </div>
</div>