<div class="contenedor">
    <div class="arriba">
        <!-- Botones basados en el rol actual -->
        <button class="btn btn-primary" *ngIf="currentRole === 'Administrador'" disabled>User</button>
        <button class="btn btn-secondary" *ngIf="currentRole === 'Profesional' || currentRole === 'admin'" routerLink="patient">Pacientes</button>
        <button class="btn btn-danger" *ngIf="currentRole === 'Administrador'" routerLink="doctors/list">Profesionales</button>
        <!-- ... otros botones ... -->
        
        <button class="btn btn-danger" *ngIf="currentRole === 'Profesional'" routerLink="appointments/doctor/list">Turnos</button>
        <button class="btn btn-danger" *ngIf="currentRole === 'Paciente'" routerLink="appointments/patient/create">Turnos</button>

        <button class="btn btn-primary" disabled>Mi cuenta</button>

        
    </div>
    <div class="abajo">
        <select class="select-role form-control" (change)="changeRole($event)" [value]="currentRole">
            <option *ngFor="let role of availableRoles" [value]="role" [selected]="role === currentRole">{{ role | titlecase }}</option>
        </select>
    </div>
</div>