.paciente {
    
    display: block;
    overflow-x: scroll;
    height: 100%;
    text-align: center;

    
}

.createPatient > form {
    display: flex;
    flex-direction: column;
    
}

.logo {
    margin-right: 10px;
}

.boton-enviar {
    width: 300px;
}


.listar-pacientes {
    width: 90%;
    margin: auto;
}