<section>
    <div class="main">
        <div class="titlePrana">
            <img src="../../../../../assets/img/logo.png" alt="logo prana" class="logo">
            <h1 class="prana">PRANA</h1>
    
        </div>
        <div class="homeDerecha">
            <h1 class="subtitulo">Centro integral terapéutico</h1>
            <h3 class="ciudad">
                en Río cuarto
            </h3>
            <p class="description"> 
                <b>En Prana</b>, nuestro compromiso es ofrecerte un <b>abanico completo de servicios terapéuticos</b>, respaldados por un equipo de <b>profesionales altamente capacitados</b> en diversas especialidades. Ya sea que busques apoyo psicológico, asesoramiento psiquiátrico, orientación nutricional, o la armonía que proporciona el yoga, estamos aquí para acompañarte en tu viaje hacia el <b>bienestar integral</b>.</p>
        </div>
        <button class="css-button-sharp--green"><a routerLink="/#bodyNav">CONOCENOS</a></button>
        
    </div>
</section>


<section id="bodyNav">
    <div class="bodyNav">
        <div class="bodyNav-container">
            <a href="">
                <img src="../../../../../assets/img/foto4.jpeg" alt="fotoPrana">
            </a>
            <h2>Especialidades</h2>
            <p>En Prana contamos con una alta variedad de servicios terapéuticos</p>
        </div>
        <div class="bodyNav-container mid">
            <a href="">
                <img src="../../../../../assets/img/profesionales/miliPeiretti.jpg" alt="profesionales">
            </a>
            <h2>Profesionales</h2>
            <p>Nuestro equipo de profesionales altamente capacitados te brindarán apoyo, asesoramiento y orientación hacia tu bienestar</p>
        </div>
        <div class="bodyNav-container">
            <a href="">
                <img src="../../../../../assets/img/ubicación.jpg" alt="celular con ubicación">
            </a>
            <h2>¿Dónde estamos?</h2>
            <p>Podés encontrarnos en la ciudad de Río Cuarto, ¡hacé click para buscarnos!</p>
        </div>
    </div>
</section>



<!-- Staff Section -->
<div class="container">
    <div class="card" *ngFor="let pro of staff; let i = index">
        <div class="foto">
            <img [src]="pro.img" class="card-img-top fotoProf">
        </div>
        <div class="card-body">
            <h3 class="card-title">{{pro.name}}</h3>
            <div class="info">
                <h4 class="card-title"><b> {{pro.title}} </b></h4>
                <button (click)="toggleDescription(i)"><img src="../../../../../assets/img/Iconos/flechaAbajo.png" alt="más información"></button>
            </div>
            <p class="card-text" *ngIf="pro.showDescription">{{pro.description}}</p>
            
        </div>
    </div>
</div>
