<hr class="separator ">
<section class="bgFull">
    <div class="row">
        <div class="main">
            <div class="titlePrana puff-in-center">
                
                <h1 class="prana">PRANA</h1>
                <!-- <h2 class="subtitulo">
                    Centro integral terapéutico
                </h2> -->
                
        
            </div>
            
          
            
        </div>
        
    </div>
</section>

<hr class="separator"> 

<!-- BodyNavigator -->

<section id="bodyNav">
    <div class="bodyNav">
        <div class="bodyNav-container" (click)="navigateToAboutUs()">
            
                <img src="../../../../../assets/img/foto4.jpeg" alt="fotoPrana">
            
            <h2>Especialidades</h2>
            <p>En Prana contamos con una alta variedad de servicios terapéuticos</p>
            
        </div>
        <div class="bodyNav-container  mid" (click)="scrollToSection()">
            
                <img src="../../../../../assets/img/ubicación.jpg" alt="celular con ubicación">
            
            <h2>¿Dónde estamos?</h2>
            <p>Podés encontrarnos en la ciudad de Río Cuarto, ¡hacé click para buscarnos!</p>
            
        </div>
        <div class="bodyNav-container" (click)="navigateToProf()">
            
                <img src="../../../../../assets/img/profesionales/MILAGROSPEIRETTI.jpg" alt="profesionales">
            
            <h2>Profesionales</h2>
            <p>Nuestro equipo de profesionales altamente capacitados te brindarán apoyo, asesoramiento y orientación hacia tu bienestar</p>
        </div>
        
    </div>
</section>

<hr class="separator">

    <div class="slider-section">
       
                
        <div class="carrousel-container">
            <div class="carrousel">
                        <div class="carrousel-item"><img loading="lazy" src="../../../../../assets/img/foto1.jpeg" alt=""></div>
                        <div class="carrousel-item"><img loading="lazy" src="../../../../../assets/img/foto2.jpeg" alt=""></div>
                        <div class="carrousel-item"><img loading="lazy" src="../../../../../assets/img/foto3.jpeg" alt=""></div>
                        <div class="carrousel-item"><img loading="lazy" src="../../../../../assets/img/foto5.jpeg" alt=""></div>
                        <div class="carrousel-item"><img loading="lazy" src="../../../../../assets/img/foto6.jpeg" alt=""></div>
                        <div class="carrousel-item"><img loading="lazy" src="../../../../../assets/img/foto7.jpeg" alt=""></div>
            </div>
        </div>
        <div class="carrousel-controls">
                    <button class="css-button-sliding-to-right--blue" (click)="slideToLeft()"><</button>
                    <button class="css-button-sliding-to-left--blue" (click)="slideToRight()">></button>
        </div>
        
    </div>
            

 <hr class="separator">

<!-- ¿Cómo encontrarnos? -->
<!-- ¿Cómo encontrarnos? -->
<!-- apiGoogleMaps AIzaSyBphW12ssLTpdgl0LHX65NLCqrjqcanZbM -->

<section id="encontrarnos" class="comoEncontrarnos">
    <div class="contenedorUbicacion">
        <div class="bodyUbi">
           
                <h2 class="ubicacionTitle">Podés encontrarnos en esta ubicación</h2>
                <div class="listaDatos">
                    <ul class="listaEncontrarnos">
                        <li><img src="../../../../../assets/img/Iconos/pasador-de-ubicacion.png" alt="dirección" class="iconoEncontrarnos">Lavalle 1751 - Río Cuarto</li>
                        <li><img src="../../../../../assets/img/Iconos/reloj.png" alt="horarios" class="iconoEncontrarnos">Horario: De 08:00 a 20:00hs</li>
                        <li><a class="wsp" href="https://wa.me/5493584029619"><img src="../../../../../assets/img/Iconos/llamada-telefonica.png" alt="celular" class="iconoEncontrarnos">+54-9-358-4029619</a></li>
                    </ul>

                    <div class="wspIcon">
                        <a href="https://wa.me/5493584029619" class="wsp" target="_blank"><img src="../../../../../assets/img/Iconos/whatsapp.png" class="wspImg" alt="ícono de wsp"></a>
                    </div>
                
            
            </div>
           
           
        </div>
        <div class="maps">
            <iframe class="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3341.007806611837!2d-64.34823062344744!3d-33.135159481436254!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95d201a6f4cae383%3A0xa08b0cc903f4cf21!2sPRANA%20Centro%20Integral%20Terap%C3%A9utico!5e0!3m2!1ses-419!2sar!4v1711125328874!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
       
        
    </div>

    <div class="contenedorIg">
        <h2 class="ubicacionTitle">Seguinos en Instagram y enterate de nuestros talleres</h2>
        
        <iframe width="550" height="440" [src]="instagramUrl" frameborder="0" class="embedIg" loading="lazy"></iframe>
    </div>
</section>

