
::-webkit-scrollbar {
    width: 10px;
}

/* profesionales */
/* profesionales */
.introduccion {
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.nuestrosProfesionales {
    font-size: 2.5rem;
    text-align: center;
    color: #ae71a3;
    padding: 20px;
    margin-top: 20px;
    font-family: 'Lora';

    width: 60%;

}

.subtituloIntro{
    font-size: 1rem;
    padding: 15px;
}
.textIntro {
    width: 80%;
    text-align: center;
    text-wrap: balance;
    margin-bottom: 20px;

    font-size: 1.12rem;
}

.contenedorStaff {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    
    
    
    margin: auto;

    
    
}

.staff {
    width: 100%;
    background-color: #f9f9f9;
}


.info > img {
    border: none;
}

.tarjeta {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
    
    
}

.tarjetaCuerpo {
    display: flex;
    flex-direction: column;
    

    width: 100%;
    height: 80px;
    border: none;
    
    
    overflow-x: hidden;
    overflow-y: scroll;

    font-family: 'Lora', "Helvetica Neue", sans-serif;
   
    

    
}
.tarjetaNombre {
    font-size: 1rem;
    color: #ae71a3;
}
.tarjetaTitulo {
    font-size: 0.8rem;
    color: #888;
}
    
    



.foto {
    
    width: 100%;
    height: 200px;
}
.tarjetaImagen {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 100%;
}
p {
    text-align: flex-start;
    font-size: 1rem;
}
.tarjetaTexto {
    display: none;
    padding: 5px;
}






/* home */
/* home */
.bgFull {
    /* background: rgb(211,146,202);
    background: linear-gradient(0deg, rgba(211,146,202,1) 11%, rgba(255,255,255,1) 92%); */


    /* background-image: url(../../../../../assets/img/bg_bggenerator_com.png); */
    background-color: #f9f9f9;

}
.main {
    margin: auto;
    width: 90%;
    height: 94vh;
    
    


    
    

    display: flex;
    justify-content: center;
    align-items: center;
}
.titlePrana {
   
    width: 65%;
    padding: 10px;
    
    display: flex;
    
    justify-content: center;
    

    
}
.prana{
    color: #68335a;
    padding: 1rem;
    font-size: 10rem;
    font-weight: 500;
    font-family: 'Lora', "Helvetica Neue", sans-serif;
}
.logo{
    width: 20%;
    padding: 1rem;
}

.css-button-sharp--green {
    
    margin-top: 25px;
   
    


    min-width: 130px;
    width: 8%;
    height: 7%;
    color: #ae71a3;
    
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    
    display: inline-block;
    outline: none;
    border-color: #888;
    border-radius: 5%;
}
  a{
    font-family: 'Lora', "Helvetica Neue", sans-serif;
    font-size: 1rem;
    text-decoration: none;
    color: WHITE;
  }
  
  .css-button-sharp--green:hover {
    
    background: #fff;
    
  }

.homeDerecha {
    box-shadow: -7px 0px 65px 0px #68335a;
    padding: 5px;
    width:30%;
    height: 65%;
    border-radius: 0.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    

    
    

}
.subtitulo {
    color: #ae71a3;
    padding: 1rem;
    font-size: 3.4rem;
    font-family: Lora, "Helvetica Neue", sans-serif;
}
.ciudad {
    width: 100%;
   
    color: #ae71a3;
    padding:1rem;
    font-family: Lora, "Helvetica Neue", sans-serif;
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: start;
}
.description{
    color: #888;
    padding: 1rem;
    font-family: Lora, "Helvetica Neue", sans-serif;
    font-size: 1.2rem;

}



/* body Nav */
/* body Nav */
/* body Nav */

.bodyNav {
    margin: auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.bodyNav-container{
    min-height: 45vh;
    width: 30%;
    padding: 3%;
    cursor: pointer;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: transform 300ms ease;
}
.bodyNav-container:hover {
    transform: scale(106%);
    transition: all 200ms ease;
}


.bodyNav-container a {
    display: flex;
    justify-content: center;
    
}

.mid{
    border-radius: 2%;
    box-shadow: 0px 0px 100px -14px #68335a;
}
.bodyNav-container p {
    font-family: 'Open Sans', "Helvetica Neue", sans-serif;
    font-size: 120%;
    text-align: center;
    width: 80%;
    margin: auto;
}

.bodyNav-container img {
    width: 60%;
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.separador {
    background-color:  #f9f9f9;
    width: 80%;
    margin: auto;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}
/* ¿Cómo encontrarnos? */
/* ¿Cómo encontrarnos? */
/* ¿Cómo encontrarnos? */

.comoEncontrarnos {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #f9f9f9;
    
}
.contenedorUbicacion {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
}

.bodyUbi{   
    width: 100%;
    height: 100%;
    padding: 10px;
    

    
}
.ubicacionTitle {
    width: 90%;
    padding: 15px;

    font-family: 'Lora';
    font-size: 2rem;
    color: #68335a;
    
}
.listaEncontrarnos {
    list-style: none;
    margin:30px ;
    font-family: 'Lora';
    font-size: 1.2rem;
    
    
}
.listaEncontrarnos li {
    margin-top: 10px;
    color: #68335a;
}
.listaEncontrarnos li img {
    
    margin-right: 10px;
}
.maps {
    margin: auto;
}



.contenedorIg {
    width: 30%;
    
    background-color: white;
    height: 560px;

    box-shadow: 0px 0px 100px -14px #68335a;

    border-radius: 1%;

    
    

    text-align: flex-start;




    
}
.contenedorIg h2 {
    font-family: 'Open-sans';
    font-size: 1.4rem;
    color: #68335a;
}

/* ANIMACIONES */

.slide-in-left {
	-webkit-animation: slide-in-left 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }

.scale-in-center {
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
}

@-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }

  .slide-in-top {
	-webkit-animation: slide-in-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.1s both;
	        animation: slide-in-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.1s both;
}

@-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }

.puff-in-center {
	-webkit-animation: puff-in-center 1s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: puff-in-center 1s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

@-webkit-keyframes puff-in-center {
    0% {
      -webkit-transform: scale(2);
              transform: scale(2);
      -webkit-filter: blur(4px);
              filter: blur(4px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes puff-in-center {
    0% {
      -webkit-transform: scale(2);
              transform: scale(2);
      -webkit-filter: blur(4px);
              filter: blur(4px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  