.contenedor {
    height: 100%;

    display: flex;
    flex-direction: column;
    
    
    
}
td {
    text-align: start;
}
th {
    text-align: start;
    margin-right: 2px; 
}

.lupa {
    width: 30px;
    margin: 5px;
}
.filter {
    text-align: start;
    width: 25%;
    min-width: 350px;
    padding: 10px;
    
    border-radius: 16px;
    background-color: rgba(180, 180, 180, 0.3);
    

}