
<div class="contenedor">
    <h2>Listado de Pacientes</h2>
    <div class="filter input-group">
      <img src="../../../../../assets/img/Iconos/lupa.png" alt="lupa de busqueda" class="lupa">
    <input
    type="text"
    placeholder="Filtrar pacientes"
    [(ngModel)]="searchTerm"
    (ngModelChange)="updatePatientUserName()"
    class="form-control"/>
  </div>
    <div *ngIf="editingPatientId !== null" class="container-sm" id="editingForm">
      <!-- Formulario Reactivo -->
      <form [formGroup]="editForm" (ngSubmit)="saveEdit()">
        <label for="address" class="form-label">Dirección:</label>
        <input type="text" id="address" formControlName="address" class="form-control">
    
        <label for="facebook" class="form-label">Facebook:</label>
        <input type="text" id="facebook" formControlName="facebook" class="form-control">
    
        <label for="instagram" class="form-label">Instagram:</label>
        <input type="text" id="instagram" formControlName="instagram" class="form-control">
    
        <label for="insurance" class="form-label">Mutual/Obra social:</label>
        <input type="text" id="insurance" formControlName="insurance" class="form-control">
    
        <button type="submit" class="btn btn-secondary" id="saveChanges">Guardar cambios</button>
      </form>
    </div>

    
    
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          
          <th>Paciente</th>
          <th>Dirección</th>
          <th>Facebook</th>
          <th>Instagram</th>
          
          <th>Mutual/Obra social</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let patient of patients" [hidden]="editingPatientId === patient.id">
          
          <td>{{ patient.user }}</td>
          <td>{{ patient.address }}</td>
          <td>{{ patient.facebook }}</td>
          <td>{{ patient.instagram }}</td>
          
          <td>{{ patient.insurance}}</td>
          <td>
            <!-- Botón para editar paciente 
            <button (click)="editPatient(patient)">Editar</button>
            Botón para eliminar paciente -->
            <button *ngIf="editingPatientId !== patient.id" (click)="editPatient(patient.id)" class="btn btn-primary" id="editButton">Editar</button>
            <button (click)="deletePatient(patient.id)" class="btn btn-danger">Eliminar</button>
            
            <button *ngIf="editingPatientId === patient.id" (click)="cancelEdit()">Cancelar</button>
          </td>
          
        
        </tr>
      </tbody>
    </table>
    
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="pageSize" [pageIndex]="pageIndex" [length]="pageEvent.length" (page)="pageChanged($event)"></mat-paginator>




  </div>