<div class="container mt-5">
  <h2 class="text-center">Actualizar Turno - Administrador</h2>
  <form [formGroup]="appointmentForm" (ngSubmit)="onSubmit()" class="mt-4">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="mb-3 row align-items-center">
          <label for="patient" class="col-md-4 col-form-label text-end"
            >Paciente * :</label
          >
          <div class="col-md-8">
            <mat-form-field appearance="outline" class="input-field">
              <mat-label>Seleccionar Paciente</mat-label>
              <input
                type="text"
                matInput
                [formControl]="patientControl"
                [matAutocomplete]="auto"
                required
              />
              <mat-autocomplete
                #auto="matAutocomplete"
                [displayWith]="displayPatientFn"
                (optionSelected)="onPatientSelect($event.option.value)"
              >
                <mat-option
                  *ngFor="let patient of filteredPatients | async"
                  [value]="patient.id"
                >
                  {{ patient.user }}
                </mat-option>
              </mat-autocomplete>
              <mat-error
                *ngIf="appointmentForm.controls['patient'].errors?.['required']"
                >Este campo es requerido</mat-error
              >
            </mat-form-field>
          </div>
        </div>

        <div *ngIf="selectedPatient" class="mb-3 row align-items-center">
          <label for="specialty" class="col-md-4 col-form-label text-end"
            >Especialidad * :</label
          >
          <div class="col-md-8">
            <mat-form-field appearance="outline" class="input-field">
              <mat-label>Seleccionar Especialidad</mat-label>
              <input
                type="text"
                matInput
                [formControl]="specialtyControl"
                [matAutocomplete]="auto"
                required
              />
              <mat-autocomplete
                #auto="matAutocomplete"
                [displayWith]="displaySpecialtyFn"
                (optionSelected)="onSpecialtySelect($event.option.value)"
              >
                <mat-option [value]="null">Sin Solicitar</mat-option>
                <mat-option
                  *ngFor="let specialty of filteredSpecialties | async"
                  [value]="specialty.name"
                >
                  {{ specialty.name }}
                </mat-option>
              </mat-autocomplete>
              <mat-error
                *ngIf="appointmentForm.controls['specialty'].errors?.['specialty']"
                >Este campo es requerido</mat-error
              >
            </mat-form-field>
          </div>
        </div>

        <div *ngIf="selectedSpecialty" class="mb-3 row align-items-center">
          <label for="doctor" class="col-md-4 col-form-label text-end"
            >Profesional * :</label
          >
          <div class="col-md-8">
            <mat-form-field appearance="outline" class="input-field">
              <mat-label>Seleccionar Profesional</mat-label>
              <input
                type="text"
                matInput
                [formControl]="doctorControl"
                [matAutocomplete]="auto"
                required
              />
              <mat-autocomplete
                #auto="matAutocomplete"
                [displayWith]="displayDoctorFn"
                (optionSelected)="onDoctorSelect($event.option.value)"
              >
                <!-- <mat-option [value]="null">Sin Solicitar</mat-option> -->
                <mat-option
                  *ngFor="let doctor of filteredDoctors | async"
                  [value]="doctor.id"
                >
                  {{ doctor.user }}
                </mat-option>
              </mat-autocomplete>
              <mat-error
                *ngIf="appointmentForm.controls['doctor'].errors?.['doctor']"
                >Este campo es requerido</mat-error
              >
            </mat-form-field>
          </div>
        </div>

        <div
          *ngIf="selectedSpecialty && selectedDoctor"
          class="mb-3 row align-items-center"
        >
          <label for="day" class="col-md-4 col-form-label text-end"
            >Día * :</label
          >
          <div class="col-md-8">
            <mat-form-field appearance="outline" class="input-field">
              <mat-label>Seleccionar Día</mat-label>
              <mat-select
                formControlName="day"
                (ngModelChange)="onDaySelect($event)"
                required
              >
                <mat-option [value]="">Selecciona un Día</mat-option>
                <mat-option *ngFor="let day of formattedDates" [value]="day">
                  {{ day }}
                </mat-option>
              </mat-select>
              <mat-error
                *ngIf="appointmentForm.controls['day'].errors?.['required']"
                >Este campo es requerido</mat-error
              >
            </mat-form-field>
          </div>
        </div>

        <div
          *ngIf="selectedSpecialty && selectedDoctor"
          class="mb-3 row align-items-center"
        >
          <label for="hour" class="col-md-4 col-form-label text-end"
            >Horario * :</label
          >
          <div class="col-md-8">
            <mat-form-field appearance="outline" class="input-field">
              <mat-label>Seleccionar Horario</mat-label>
              <mat-select
                formControlName="hour"
                (ngModelChange)="onHourSelect($event)"
                required
              >
                <mat-option [value]="">Selecciona un Horario</mat-option>
                <mat-option *ngFor="let hour of availableTimes" [value]="hour">
                  {{ hour }}
                </mat-option>
              </mat-select>
              <mat-error
                *ngIf="appointmentForm.controls['hour'].errors?.['required']"
                >Este campo es requerido</mat-error
              >
            </mat-form-field>
          </div>
        </div>

        <div
          *ngIf="selectedSpecialty && selectedDoctor"
          class="mb-3 row align-items-center"
        >
          <label for="branch" class="col-md-4 col-form-label text-end"
            >Rama:</label
          >
          <div class="col-md-8">
            <mat-form-field appearance="outline" class="input-field">
              <mat-label>Seleccionar Rama (opcional) </mat-label>
              <mat-select
                formControlName="branch"
                class="input-field"
                (ngModelChange)="onBranchSelect($event)"
              >
                <!-- <mat-option [value]="null">Sin Solicitar</mat-option> -->
                <mat-option
                  *ngFor="let branch of specialtyFilteredBranches"
                  [value]="branch.id"
                >
                  {{ branch.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div
          *ngIf="selectedBranch && selectedDoctor && selectedPatient"
          class="mb-3 row align-items-center"
        >
          <label for="health_insurance" class="col-md-4 col-form-label text-end"
            >Obra Social:</label
          >
          <div class="col-md-8">
            <mat-form-field appearance="outline" class="input-field">
              <mat-label>Seleccionar obra social (Opcional) </mat-label>
              <mat-select
                formControlName="health_insurance"
                class="input-field"
                (ngModelChange)="onHISelect($event)"
              >
                <mat-option [value]="null">Sin Solicitar</mat-option>
                <mat-option
                  *ngFor="let insurance of insurances"
                  [value]="insurance.id"
                >
                  {{ insurance.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div
          *ngIf="selectedSpecialty && selectedDoctor"
          class="mb-3 row align-items-center"
        >
          <label for="full_cost" class="col-md-4 col-form-label text-end"
            >Costo:</label
          >
          <div class="col-md-8">
            <mat-form-field appearance="outline" class="input-field">
              <mat-label>Campo Opcional</mat-label>
              <input
                matInput
                type="number"
                id="full_cost"
                formControlName="full_cost"
              />
            </mat-form-field>
          </div>
        </div>

        <div
          *ngIf="selectedSpecialty && selectedDoctor"
          class="mb-3 row align-items-center"
        >
          <label
            for="appointment_status"
            class="col-md-4 col-form-label text-end"
            >Estado del turno:</label
          >
          <div class="col-md-8">
            <mat-form-field appearance="outline" class="input-field">
              <mat-label>Seleccionar un estado (Opcional) </mat-label>
              <mat-select
                formControlName="appointment_status"
                class="input-field"
              >
                <!-- <mat-option [value]="null">Sin Solicitar</mat-option> -->
                <mat-option
                  *ngFor="let app_status of appointment_status_choices"
                  [value]="app_status.value"
                >
                  {{ app_status.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div
          *ngIf="selectedSpecialty && selectedDoctor"
          class="mb-3 row align-items-center"
        >
          <label for="payment_status" class="col-md-4 col-form-label text-end"
            >Estado del Pago:</label
          >
          <div class="col-md-8">
            <mat-form-field appearance="outline" class="input-field">
              <mat-label>Seleccionar un estado (Opcional) </mat-label>
              <mat-select
                formControlName="payment_status"
                class="input-field"
                (ngModelChange)="updatePaymentVisibility($event)"
              >
                <!-- <mat-option [value]="null">Sin Solicitar</mat-option> -->
                <mat-option
                  *ngFor="let pay_status of payment_status_choices"
                  [value]="pay_status.value"
                >
                  {{ pay_status.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div
          *ngIf="isPaid && selectedSpecialty && selectedDoctor"
          class="mb-3 row align-items-center"
        >
          <label for="payment_method" class="col-md-4 col-form-label text-end"
            >Metodo de pago:</label
          >
          <div class="col-md-8">
            <mat-form-field appearance="outline" class="input-field">
              <mat-label>Seleccionar metodo de pago</mat-label>
              <mat-select formControlName="payment_method" class="input-field">
                <mat-option [value]="null">Sin Solicitar</mat-option>
                <mat-option *ngFor="let method of methods" [value]="method.id">
                  {{ method.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center mt-4">
      <button type="submit" class="btn btn-primary me-3">
        Actualizar Turno
      </button>
      <button class="btn btn-secondary" (click)="onCancel()">Cancelar</button>
    </div>
  </form>
</div>
