<div class="container-sm">
    <h2>Regístrate</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <input matInput placeholder="DNI" formControlName="dni">
        <mat-error *ngIf="dni && dni.hasError('required')">El DNI es requerido.</mat-error>
        <mat-error *ngIf="dni && dni.hasError('pattern')">El DNI debe tener entre 7 y 9 números, sin puntos ni comas.</mat-error>
      </mat-form-field>
      
      <mat-form-field>
        <input matInput placeholder="Nombre" formControlName="name">
        <mat-error *ngIf="name && name.hasError('required')">El nombre es requerido.</mat-error>
      </mat-form-field>
      
      <mat-form-field>
        <input matInput placeholder="Apellido" formControlName="last_name">
        <mat-error *ngIf="last_name && last_name.hasError('required')">El apellido es requerido.</mat-error>
      </mat-form-field>
      
      <mat-form-field>
        <input matInput placeholder="Correo Electrónico" formControlName="email">
        <mat-error *ngIf="email && email.hasError('required')">El correo electrónico es requerido.</mat-error>
        <mat-error *ngIf="email && email.hasError('email')">El correo electrónico debe ser válido.</mat-error>
      </mat-form-field>
      
      <mat-form-field>
        <input matInput placeholder="Teléfono" formControlName="phone">
      </mat-form-field>
      
      <button mat-raised-button color="primary" type="submit" class="boton-enviar" [disabled]="registerForm.invalid">
        Registrarse
      </button>
    </form>
    <p>¿Ya tienes cuenta? <a routerLink="/Login">Iniciar Sesión</a></p>
  </div>