h2 {
    margin-top: 10px;
}

.container-sm {
    width: 50%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    
}

.container-sm > form {
    display: flex;
    flex-direction: column;
}

.boton-enviar {
    height: 50px;
    margin-bottom: 10px;
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container-sm {
        width: 70%;
               
    }
    mat-error {
        font-size: 0.9rem;
    }

}

@media screen and (max-width: 767px) {
    .container-sm {
        width: 95%;
    }

    mat-error {
        font-size: 0.87rem;
    }

}