

  <div class="container mt-3">
    <div class="card">
      <div class="card-header bg-info text-white text-center">
        <h2>Recuperar Contraseña</h2>
      </div>
      <div class="card-body">
        <form
          [formGroup]="loginForm"
          (ngSubmit)="onSubmit()"
          class="create-user-form"
        >
          <!-- Campo Usuario (ID de usuario) -->
          <mat-form-field appearance="outline" class="container-fluid mt-4">
            <mat-label>Ingrese su Email</mat-label>
            <input matInput formControlName="email" required>
            <mat-error *ngIf="loginForm.controls['email'].errors?.['required']">Este campo es requerido</mat-error>
            <mat-error *ngIf="loginForm.controls['email'].errors?.['email']">Ingrese un Email valido</mat-error>
            
          </mat-form-field>
  
  
          <!-- Botones -->
          <button
            class="btn btn-primary"
            type="submit"
            [disabled]="!loginForm.valid"
          >
            Recuperar Contraseña
          </button>
          
        </form>
      </div>
    </div>
  </div>