<footer>
    <section class="container">
        <div class="nav">
            <h4>Centro integral PRANA</h4>
            <ul class="nav">
                <li><a routerLink="/Home">Inicio</a></li>
                <li><a routerLink="/profesionales">Profesionales</a></li>
                <li><a routerLink="/AboutUs">Sobre nosotros</a></li>
                
            </ul>
    
        </div>
        <hr>
        <div class="interes">
            <h4>Links de interés</h4>
            <ul class="nav">
                <li><a href="https://www.psychologytoday.com/ar" target="_blank">Psicología hoy</a></li>
                <li><a href="https://www.gaia.com/" target="_blank">Gaia</a></li>
                <li><a href="https://www.physio-pedia.com/home/" target="_blank">Physicopedia</a></li>
                <li><a href="https://www.who.int/es/" target="_blank">Organización mundial de la salúd</a></li>
            </ul>
    
        </div>
        <hr>
        <div class="Social">
            <h4>Social</h4>
            <ul class="nav">
                <li><a href="https://www.instagram.com/prana_terapeutico/?hl=es-la" target="_blank">Instagram</a></li>
                <li><a href="https://www.facebook.com/pranacentrointegralrioiv/" target="_blank">Facebook</a></li>
                
            </ul>
    
        </div>
        <hr>
        <div class="img">
            <img src="../../../../../assets/img/logo.png" alt="logo prana" srcset="" class="logo">
    
        </div>

        <form [formGroup]="newletterForm" (ngSubmit)="suscribe()">
            
        
            
        
            <mat-form-field appearance="outline">
              <input matInput placeholder="Correo Electrónico" formControlName="email">
              <mat-error *ngIf="email?.invalid && (email?.dirty || email?.touched)">
                <span *ngIf="email?.errors?.['required']">El correo electrónico es requerido.</span>
                <span *ngIf="email?.errors?.['pattern']">Ingrese un correo electrónico válido</span>
                <span *ngIf="email?.errors?.['emailExists']">Ya existe un usuario con ese email.</span>
      
              </mat-error>
            </mat-form-field>
        
            
        
            
        
            <button  type="submit" class="btn btn-primary mb-5" [disabled]="newletterForm.invalid">
              Registrarse
            </button>
          </form>

        
    </section>
   
</footer>
