h1 {
    margin: 40px 0;
    color: #502c36;
    font-size: 3.4rem;
}

.descripcion {
    font-size: 1.2rem;
    width: 80%;
    margin: auto;
    
}
.titulo {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    justify-content: center;
    
    text-align: center;
    padding: 20px;
}
