<div class="container mt-3">
  <div class="card">
    <div class="card-header bg-info text-white">
      <h2>Crear Profesional</h2>
    </div>
    <div class="card-body">
      <form [formGroup]="doctorForm" (ngSubmit)="onSubmit()">
        <!-- Campo Usuario (ID de usuario) -->
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Usuario</mat-label>
          
          
          
          <mat-select formControlName="user">
            <mat-option *ngFor="let user of users" [value]="user.id">
              {{ user.name }}, {{ user.last_name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Campo Licencia Médica -->
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Licencia Médica</mat-label>
          <input matInput formControlName="medicLicence">
        </mat-form-field>

        <!-- Campo Especialidades -->
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Especialidades</mat-label>
          <mat-select formControlName="specialty" multiple>
            <mat-option *ngFor="let specialty of specialties" [value]="specialty.id">
              {{ specialty.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Checkbox Activo -->
        <mat-checkbox formControlName="is_active" class="mb-3">Activo</mat-checkbox>

        <!-- Campo Duración de Cita -->
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Duración de la Cita</mat-label>
          <input matInput formControlName="appointment_duration">
        </mat-form-field>

        <!-- Botones -->
        <button type="submit" mat-raised-button color="primary" [disabled]="!doctorForm.valid">Crear Doctor</button>
        <button type="button" mat-raised-button color="warn" >Cancelar</button>
      </form>
    </div>
  </div>
</div>