.contenedor-principal {
    background-color: #f9f9f9;
}

#contenedor-tarjetas {
    display: flex;
    justify-content: space-evenly;
    margin: 0 45px;
}
#tarjeta {
    margin-left: 20px;
    
    overflow: hidden;
}

h1 {
    margin: 40px 0;
    color: #502c36;
    font-size: 3.4rem;
}

#img {
    object-fit: cover;
}
.card-header {
    color: #502c36;
}

.descripcion-talleres {
    font-size: 1.2rem;
    width: 80%;
    margin: auto;
    
}
.titulo {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    justify-content: center;
    
    text-align: center;
    padding: 20px;
}
