<div class="container mt-4">
    <h2>Create Health Insurance</h2>
  
    <form [formGroup]="healthInsuranceForm" (ngSubmit)="create()">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" formControlName="name">
        <!-- Mensaje de error en caso de que el nombre sea obligatorio y no esté presente -->
        <div *ngIf="healthInsuranceForm.get('name')!.touched && healthInsuranceForm.get('name')!.invalid" class="text-danger">
          Name is required.
        </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!healthInsuranceForm.valid">Create</button>
    </form>
  </div>